body {
    background-color: rosybrown;
    font-family: Arial, sans-serif;
}

p {
    margin-bottom: 5px;
    margin-top: 5px;
}

.business-card {
    width: 300px;
    background-color: white;
    padding: 20px;
    margin: 100px;
    font-size: 16px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.profile-image {
    max-width: 100%;
    width: 140px;
    height: 145px;
}

.full-name {
    font-size: 24px;
    margin-top: 20px;
}

.designation {
    font-size: 20px;
    color: Gray;
    margin-top: 10px;
}

.company {
    font-size: 16px;
    color: DarkGray;
    margin-top: 2px;
}

hr {
    margin: 20px;
}

h2 {
    font-size: 23px
}

a {
    text-decoration: none;
    margin: 10px;
}

.portfolio {
    margin-top: 30px;
}
